.footer {
  width: 100%;
  background: #1b4332;
  color: white;
  padding-top: 70px;
}

.footer-container {
  width: 90%;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  gap: 40px;

  padding-bottom: 50px;
}

.footer-column h2,
.footer-column h3 {
  margin-bottom: 20px;
}

.footer-column p {
  color: #ddd;
  line-height: 1.8;
  margin-bottom: 10px;
}

.footer-column a {
  display: block;

  color: #ddd;

  text-decoration: none;

  margin-bottom: 12px;

  transition: .3s;
}

.footer-column a:hover {
  color: #90ee90;
}

.footer-bottom {
  text-align: center;

  border-top: 1px solid rgba(255, 255, 255, .15);

  padding: 20px;

  color: #bbb;
}

@media(max-width:768px) {

  .footer-container {

    grid-template-columns: 1fr;

    text-align: center;

  }

}