.skeleton-card {
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;

  border: 1px solid #eeeeee;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Skeleton Base */

.skeleton {
  position: relative;
  overflow: hidden;

  background: #e9e9e9;
}

/* Shimmer Effect */

.skeleton::after {
  content: "";

  position: absolute;

  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent);

  animation: skeleton-loading 1.5s infinite;
}

/* Image */

.skeleton-image {
  width: 100%;
  height: 200px;
}

/* Content */

.skeleton-content {
  padding: 20px;
}

/* Title */

.skeleton-title {
  width: 65%;
  height: 22px;

  border-radius: 5px;

  margin-bottom: 20px;
}

/* Text */

.skeleton-line {
  width: 90%;
  height: 14px;

  border-radius: 5px;

  margin-bottom: 12px;
}

.skeleton-line.short {
  width: 60%;
}

/* Button */
.btn-gp {
  display: flex;
  justify-content: space-between;
}

.skeleton-button {
  width: 120px;
  height: 40px;

  border-radius: 8px;

  margin-top: 20px;
}

/* Animation */

@keyframes skeleton-loading {

  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }

}