.why-section {
  padding: 90px 8%;
  background: #f7faf8;
}

.why-header {
  text-align: center;
  max-width: 750px;
  margin: auto auto 60px;
}

.why-header span {
  color: #2e7d32;
  font-weight: 700;
  letter-spacing: 2px;
}

.why-header h2 {
  margin: 20px 0;
  font-size: 42px;
  color: #2c3e50;
}

.why-header p {
  color: #666;
  line-height: 1.8;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.why-card {
  background: white;
  padding: 35px;
  border-radius: 18px;
  text-align: center;

  box-shadow: 0 8px 25px rgba(0, 0, 0, .08);

  transition: .3s;
}

.why-card:hover {
  transform: translateY(-10px);
}

.why-icon {
  font-size: 55px;
  margin-bottom: 20px;
}

.why-card h3 {
  color: #2c3e50;
  margin-bottom: 15px;
}

.why-card p {
  color: #666;
  line-height: 1.8;
}